@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: #fd7e14;
  padding: 30px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Rubik Glitch", cursive;
  font-size: 40px;
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px 30px;
  background-color: #d9480f;
}

.question {
  font-size: 20px;
  color: #292524;
}

.form {
  display: flex;
  align-items: center;
  gap: 6px;
}

.form select {
  width: 80px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}

.form select option {
  font-size: 16px;
  font-weight: 500;
}

.form input {
  min-width: 280px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 30px;
}

.form input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.form button {
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #51cf66;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.packing-container {
  width: 100%;
  flex: 1;
  background-color: #422006;
  padding: 20px 300px;

  color: #fff;
}

.item-lists {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 60px;
  row-gap: 40px;
}

.active {
  text-decoration: line-through;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #51cf66;
  padding: 20px 30px;
  width: 100%;
}

.footer p {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
